
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap/dist/css/bootstrap-theme.min.css';
@import '~bootstrap-daterangepicker/daterangepicker.css';

body {
  margin-top: 50px;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.y-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.margin-left {
  margin-left: 35px;
}

.session-name {
  display: inline-block;
  min-width: 50%;
}
.session-date {
  margin-top: 15px;
  float: right;
}
.session-speakers {
  margin-top: 10px;
  padding-bottom: 10px;
  font-size: 13px !important;
}
.event-component-buttons {
  float: right;
  margin-top: 20px;
}
.event-component-buttons-remove {
  float: left;
  margin-top: 20px;
}

.image-display-list {
  float: left;
  margin-right: 50px;
}
.image-display-list img {
  max-width:200px;
  max-height:130px;
  width: auto;
  height: auto;
}
.image-display {
  display: inline-block;
}
.image-display img {
  margin-top: 30px;
  max-width:200px;
  max-height:130px;
  width: auto;
  height: auto;
}
.fileUploader {
  display: inline-block;
  width: 300px !important;
}
.fileContainer {
  box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0) !important;
}

.form-group-sm .form-control {
  font-size: 13px;
}

.panel-heading {
  min-height: 58px;
}

.event-edit-tab {
  border: 1px solid #ddd;
  border-top: 0px;
  border-radius: 0 0 20px 20px;
  padding: 10px 20px;
  min-height: 200px;
  padding-bottom: 50px;
}

.event-edit-savebutton-bottom {
  position: absolute;
  right: 35px;
  bottom: 20px;
}
.event-edit-removebutton-bottom {
  position: absolute;
  left: 35px;
  bottom: 20px;
}

.auth-link {
  margin-top: 30px;
  text-align: center;
}

.generaltab-save-disclaimer {
  position: absolute;
  right: 120px;
  bottom: 10px;
  color: red;
}
.session-date-disclaimer {
  font-size: 13px;
  font-style: italic;
  float: right;
  width: 25%;
  margin-left: 20px;
  color: red;
}

/* Location autocomplete dropdown */
.autocomplete-dropdown-container {
  border-bottom: honeydew;
  border-left: honeydew;
  border-right: honeydew;
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  border-radius: 0 0 2px 2px;
}
.suggestion-item, .suggestion-item--active {
  padding: 8px;
  text-align: left;
  background-color: #fff;
  cursor: pointer;
  transition: 0.05s all;
}
.suggestion-item--active {
  background-color: #D3D3D3;
}

/* event speaker */
.speaker-name {
  display: inline;
}
.speaker-email {
  display: inline;
  margin-left: 10px;
}
.speaker-position {
  margin-top: 5px;
  font-style: italic;
}

/* Error Modal */
.modal-body {
  padding: 0px;
}
.modal-content {
  box-shadow: 0 0px 0px rgba(0,0,0,0);
  background-color: transparent;
  border: 0px solid transparent;
}
.alert-danger {
  margin-bottom: 0;
}

.date-time-input {
  min-width: 300px;
}

textarea {
  min-height: 80px;
}

h3 {
  margin-top: 10px;
  text-decoration: underline;
  text-decoration-color: #337ab7;
}

/* loading spinner */
.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//