
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap/dist/css/bootstrap-theme.min.css';
@import '~bootstrap-daterangepicker/daterangepicker.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.y-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.panel-heading {
  min-height: 58px;
}

.event-edit-tab {
  border: 1px solid #ddd;
  border-top: 0px;
  border-radius: 0 0 20px 20px;
  padding: 10px 20px;
  min-height: 200px;
  padding-bottom: 50px;
}

.event-edit-savebutton-top {
  position: absolute;
  right: 35px;
  top: 15px;
}
.event-edit-savebutton-bottom {
  position: absolute;
  right: 35px;
  bottom: 20px;
}

.date-time-input {
  min-width: 270px;
}

/* loading spinner */
.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//